@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

*{
  cursor:none;
}

.luxury-cursor{
  width:20px;
  height:20px;
  border:2px solid #d4af37;
  border-radius:50%;
  position:fixed;
  left:0;
  top:0;
  pointer-events:none;
  z-index:99999;
  transform:translate(-50%,-50%);
  box-shadow:
  0 0 20px #d4af37,
  0 0 40px rgba(212,175,55,.5);
}